<ion-view title="{{ room_ctrl.current_room }}" ng-controller="RoomController as room_ctrl">
  <!-- HEADER -->
  <header class="bar bar-header bar-positive">
    <h1 class="title">{{ room_ctrl.current_room }}</h1>
    <button class="button button-assertive" ng-click="leaveRoom()">Leave</button>
  </header>
  <!-- START OF CHAT BOX -->
  <ion-content class="has-header padding">
    <div class="list" id="messages" ng-if="room_ctrl.messages.length > 0">
      <li class="item item-text-wrap no-border {{ isNotCurrentUser(msg.user) }}" ng-repeat="msg in room_ctrl.messages">
        <div class="msg">
          <div class="details padding">
            <p>
            <div class="user">{{ msg.user }}</div>
            <div class="message">{{ msg.text }}</div>
            </p>
            <small>{{ humanize(msg.time) }}</small>
          </div>
        </div>
      </li>
    </div>

    <div class="card" ng-if="!room_ctrl.messages.length">
      <div class="item item-text-wrap">
        No messages yet. En skylab!
      </div>
    </div>

  </ion-content>
  <!-- END OF CONTENT (CHAT VIEW) -->
  <!-- GAME ROW -->
  <div class="row card gameContainer">
    <div class="item item-text-wrap">
      <p>
        <small ng-show="room_ctrl.game.secondsToNextColor !== 0">New color in {{room_ctrl.game.secondsToNextColor}} seconds</small>
        <small ng-show="room_ctrl.game.secondsToNextColor === 0">Which color is this text?</small>
        <br>
        <span ng-show="room_ctrl.game.secondsToNextColor === 0" style="color: {{room_ctrl.game.currentColor.color}}">{{room_ctrl.game.currentColor.text}}</span>
        <i ng-show="room_ctrl.game.correctAnswer" class="ion-checkmark icon" style="color: green"></i>
      </p>
    </div>
  </div>

  <!-- FOOTER WHEN TYPING (if room_ctrl.game.secondsToNextColor > 0)-->
  <footer class="bar bar-footer bar-positive item-input-inset has-content"
          ng-show="room_ctrl.game.secondsToNextColor > 0">
    <label class="item-input-wrapper">
      <input type="text" id="message" name="message" ng-model="room_ctrl.message" placeholder="Type message">
    </label>
    <a class="button button-icon icon ion-android-send" ng-click="sendTextMessage()"></a>

  </footer>
  <!-- FOOTER WHEN PLAYING (if room_ctrl.game.secondsToNextColor === 0)-->
  <footer class="bar bar-footer bar-energized"
          ng-show="room_ctrl.game.secondsToNextColor === 0">
    <button class="button button-clear"
            ng-click="room_ctrl.game.sendColor(room_ctrl.current_user, room_ctrl.game.colorOptions[0].color, room_ctrl.current_room)">
      <b>{{room_ctrl.game.colorOptions[0].text}}</b></button>
    <div class="title"
         ng-click="room_ctrl.game.sendColor(room_ctrl.current_user, room_ctrl.game.colorOptions[1].color, room_ctrl.current_room)">
      {{room_ctrl.game.colorOptions[1].text}}
    </div>
    <button class="button button-clear"
            ng-click="room_ctrl.game.sendColor(room_ctrl.current_user, room_ctrl.game.colorOptions[2].color, room_ctrl.current_room)">
      <b>{{room_ctrl.game.colorOptions[2].text}}</b></button>
  </footer>

</ion-view>
