ion-content {
    margin-bottom: 50px !important;
}

.no-border {
	border: none;
}

.user {
    font-weight: bold;
}

.current-user {
	float: left;
    clear: both;
}

.not-current-user {
	float: right;
	clear: both;
}

.current-user .details {
	background-color: #72CBFF;
}

.not-current-user .details {
    background-color: #DCDCDC;
}
.winnerMsg {
  background-color: #009926 !important;
}
.gameContainer{
  height: 4rem;
  width: 100%;
  min-width: 100%;
  position: fixed;
  bottom: 5%;
  background: white;
  z-index: 1;
  font-size: 1rem;
  font-family: 'Arial';
  box-shadow: 1px 1px 10px #777;
}
.color{
  font-size: 1.5rem;
  font-weight: bolder;
}
.list:last-child{
  margin-bottom: 15%;
}
